/* image popup */
img.mfp-img {
    box-shadow: 0 0 8px rgb(0 0 0 / 60%);
    position: absolute;
    max-height: 100%;
    padding: 0 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mfp-img-container .mfp-close {
    top: -110px;
    right: -24px;
}


.bg-for-hero-home{
    background-image: url('/images/Landing.png');
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media screen and (min-width: 768px) {
    .basic-info-about{
        justify-content: space-between;
    }
    
    
}
@media screen and (max-width: 768px) {
    .basic-info-about{
        flex-direction: column;
    }
    .bg-for-hero-home{
        background-image: url('/images/landingMobile.png') !important;
        background-size: cover;
        background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
}



@media screen and (min-width: 1024px) {
    .class-for-footer-items{
        margin-top: 20px;
    }
}


/* form gap on mobile */
@media screen and (max-width: 768px) {
    .formik-form-main{
        margin-top: 50px;
    }
}

/* added gap tp list of advisors in about us page */
.class-for-ist-advisor{
    margin-top: 20px;
    width: 300px !important;
}